################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/baUHInia/.vs
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/git/v16/.suo
